html, body {
  height: 100%;
  width: 100%;
}

* {
  font-family: Montserrat, sans-serif, Arial, Helvetica;
}

body {
  margin: 0;
  padding: 0;
}

.ordered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ordered-list li {
  -webkit-transition: .2s;
  transition: .2s;
}

.ordered-list li:hover {
  color: white;
  background-color: #ec5d29;
}
