@media screen and(max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 3fr 0.2fr;
    }
    header {
        
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        padding: 6rem;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.349);
        background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
        h1 {
            color: white;
            margin: 0;
            padding: 0;
        }
    }

    main {
        padding: 25px;
        #title {
            color: black;
            text-transform: uppercase;
        }
        #experience {
            h2 {
                margin: 0;
                padding: 0;
                font-weight: bold;
                padding-bottom: 10px;
                color: black;
                
            }
        }
        #frameworks {
            margin-top: 50px;
            h2 {
                color: black;
            }
        }
        #contact {
            margin-top: 50px;
            h2 {
                color: black;
                
            }
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                li {
                    color: rgb(255, 255, 255);
                    background-color: rgb(116, 116, 231);
                    font-weight: bold;
                    padding: 20px;
                    margin: 10px 0 10px 0;
                }
            }
        }
        #pricing {
            padding-top: 10px;
            h2 {
                color: black;
                margin: 0;
            }
            p {
                margin: 0;
                padding-top: 5px;
                color: black;
            }
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #tos {
            padding-top: 15px;
            h2 {
                color: black;
                margin: 0;
            }
            p {
                margin: 0;
                padding-top: 5px;
                color: black;
            }
        }
    }
    footer {
        background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
        text-align: center;
        padding: 10px;
        color: white;
        font-weight: bolder;
    }
    .ordered-list li {
        background-color: white;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
        color: black;
        margin: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        transition: 0.2s;
    }
}
