@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 0.2fr 3fr 0.2fr;
        grid-template-rows: 0.2fr 3fr 0.2fr;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 6rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.349);
            box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.349);
    background-image: -webkit-gradient(linear, left top, right top, from(#0acffe), to(#495aff));
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  }
  header h1 {
    color: white;
    margin: 0;
    padding: 0;
  }
  main {
    padding: 25px;
  }
  main #title {
    color: black;
    text-transform: uppercase;
  }
  main #experience h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-bottom: 10px;
    color: black;
  }
  main #frameworks {
    margin-top: 50px;
  }
  main #frameworks h2 {
    color: black;
  }
  main #contact {
    margin-top: 50px;
  }
  main #contact h2 {
    color: black;
  }
  main #contact ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  main #contact ul li {
    color: white;
    background-color: #7474e7;
    font-weight: bold;
    padding: 20px;
    margin: 10px 0 10px 0;
  }
  main #pricing {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  main #pricing h2 {
    color: black;
    margin: 0;
  }
  main #pricing p {
    margin: 0;
    padding-top: 5px;
    color: black;
  }
  main #tos {
    padding-top: 15px;
  }
  main #tos h2 {
    color: black;
    margin: 0;
  }
  main #tos p {
    margin: 0;
    padding-top: 5px;
    color: black;
  }
  footer {
    background-image: -webkit-gradient(linear, left top, right top, from(#0acffe), to(#495aff));
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bolder;
  }
  .ordered-list li {
    background-color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
